# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Jarpeg-Java2-Exercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
